*{
    margin: 1;
    padding: 1;
    border: 0;
    font-weight: normal;
}
.t{
    font-size: 30px;
    font-weight: bold;
}
.s{
    font-size: 20px;
    font-weight: bold;
}
.r{
    font-weight: normal;
    line-height: 3px;
}
.ev{}
.circle{}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a a a a";
}
.contenido{
    background-color: rgb(240, 134, 102);
    text-align: center;
    padding: 6px;
    border: 3px solid;
}
.grid a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-right: 2px solid;
    border-left: 2px solid;
}